name: Conventional Commit

on:
  workflow_dispatch:
  push:
    branches: [main, '+.x', beta, alpha]
  pull_request:
    branches: [main, '+.x', beta, alpha]

permissions: {}

jobs:
  commit-check:
    name: Commit check
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            *.github.com:443
            registry.npmjs.org:443

      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
          fetch-depth: 0 # Required by commitlint

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/jod
          cache: npm
          cache-dependency-path: .github/release/package-lock.json

      - name: Install commitlint
        working-directory: .github/release/
        run: npm clean-install --engine-strict

      - name: Validate current commit (last commit) with commitlint
        if: ${{ github.event_name != 'pull_request' }}
        working-directory: .github/release/
        run: npx --no-install commitlint --verbose --last

      - name: Validate PR commits with commitlint
        if: ${{ github.event_name == 'pull_request' }}
        working-directory: .github/release/
        run: |
          npx --no-install commitlint --verbose \
            --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} \
            --to ${{ github.event.pull_request.head.sha }}
