name: OpenSSF

on:
  workflow_dispatch:
  branch_protection_rule:
  push:
    branches: [main, '+.x', beta, alpha]
  schedule:
    - cron: '24 3 * * *' # At 03:24 every day

permissions: read-all

jobs:
  scorecard-secure-supply-chain-analysis:
    name: Scorecard - Secure supply-chain analysis
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      security-events: write # Required to upload found security gaps
      id-token: write # Required to publish results and get a badge

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            *.github.com:443
            api.osv.dev:443
            www.bestpractices.dev:443
            api.securityscorecards.dev:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            *.sigstore.dev:443
            api.deps.dev:443
            api.scorecard.dev:443

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
          persist-credentials: false

      - name: Perform Scorecard Analysis
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          repo_token: ${{ secrets.SCORECARD_TOKEN }}
          publish_results: true

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 5

      - name: Upload to GitHub's code scanning dashboard
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          sarif_file: results.sarif
